@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    color: #FFF;
}


/* =================== BUG =================== */

body{
    background: url("./assets/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* =================== END BUG =================== */




/* =================== CONTAINER GLOBAL =================== */

.container{
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

/* =================== END CONTAINER GLOBAL =================== */




/* =================== DIVIDER =================== */

.divider{
    width: 100%;
    height: 20vh;
    background: url("./assets/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* =================== END DIVIDER =================== */




/* =================== HEADER/NAVBAR =================== */

.navbar{
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    z-index: 999999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    backdrop-filter: blur(10px);

    padding: 0 50px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span{
    font-size: 30px;
    font-weight: 700;
}

.logo img{
    width: 25px;
}

/* =================== NAVBAR LIST =================== */

.items ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.items ul li{
    margin-left: 26px;
}

.items ul li a{
    font-size: 20px;
    color: #FFF;
    transition: all 0.5s;
}

.items ul li a:hover{
    color: #4a455c;
}

/* =================== END NAVBAR LIST =================== */


/* =================== END HEADER/NAVBAR =================== */




/* =================== SECTION HOME =================== */

#home{
    width: 100%;
    height: 100vh;
    background: url("./assets/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.content{
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    margin: 50px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.img-home img{
    width: 500px;
    height: 500px;
}

.text{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
}

.text h2{
    font-size: 46px;
}

.text span{
    font-size: 60px;
}

.text p{
    margin-top: 10px;
    font-size: 22px;
}

/* =================== END SECTION HOME =================== */




/* =================== SECTION SOBRE =================== */

#sobre{
    position: relative;
    background-color: #2d2a38;
    z-index: 9999;
}

.sobre-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
.sobre-title{
    width: 35%;
    font-size: 48px;
    line-height: 90px;
}

.sobre-title span{
    color: #FFF;
    border-radius: 5px;
    padding: 6px;
    text-indent: 5px;
}

.linha-vertical{
    height: 400px;
    border-left: 0.5px solid;
}

.sobre-text{
    width: 70%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lead{
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 22px;
    text-indent: 60px;
    text-align: left;
}
/* =================== END SECTION SOBRE =================== */




/* =================== SECTION SERVIÇOS =================== */

#servicos{
    height: 100vh;
    background-color: #2d2a38;
}

.card-content{
    width: 100%;
    height: 90vh;
    background-color: #221f2e;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.card-title{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-title span{
    margin-top: 10px;
}

.card-wrapper{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.servicos-card{
    width: 300px;
    height: 200px;
    background-color: #27233c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.5s;
}

.servicos-card:hover{
    transform: scale(1.1);
}

.header-card{
    width: 100%;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2efff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}

.card-img{
    width: 300px;
}

.main-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #231f34;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

.main-card h2{
    margin-top: 5px;
    padding: 5px;
    font-size: 18px;
}

.main-card p{
    font-size: 16px;
}

.btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #231f34;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.btn a:hover{
    background-color: #27233c;
}
/* =================== END SECTION SERVIÇOS =================== */




/* =================== PAGE COMPRA  =================== */

.compra{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-compra{
    width: 80%;
    height: 75%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #221f2e;

    border-radius: 20px;

    margin-top: 6rem;
}

.compra-wrapper{
    width: 80%;
    height: 80%;

    display: grid;
    grid-template-areas:"title"
                        "description"
                        "infos"
                        "btn";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 3rem;
}

.compra-img{
    grid-area: img;
}

.compra-img img{
    width: 100%;
    height: 100%;
}

.compra-title{
    grid-area: title;
}

.compra-description{
    grid-area: description;
    
    background-color: #231f34;

    border-radius: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-indent: 4rem;

    padding: 2rem;
}

.compra-infos{
    grid-area: infos;

    background-color: #231f34;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem;
    gap: 1rem;
}

.compra-infos span{
    font-weight: 700;
}

.comprar{
    grid-area: btn;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #231f34;

    border-radius: 20px;

    transition: all 0.5s;
}

.comprar:hover{
    background-color: #201c2f;
}

.comprar span{
    font-weight: 700;
}

/* =================== END PAGE COMPRA =================== */

#footer{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 1200px;
    height: 10vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content a{
    color: #FFF;
}

.footer-content a img{
    width: 60px;
    color: #FFF;
}